*{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#333;
}

body{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#333;
margin:0;
padding:0;
overflow-x:hidden;
overflow-y:auto;
}

.changeColorBySelect{
	background-color: #b0c0d0;
}

a{
color:#333;
text-decoration:underline;
}
a:visited{
color:#333;
text-decoration:underline;
}
a:hover{
color:#369;
text-decoration:underline;
}
a:actived{
color:#369;
text-decoration:underline;
}

#tbody{
width:780px;
margin:0 auto;
padding:0 5px;
}

/*------------------閸欏啿鍞寸�褰掑劥閸掞拷-----------------*/
#right{
width:780px;
float:right;
padding-right:5px;
display:inline;
}

#abc{
	position:fixed;
}
.title{
width:749px;
height:30px;
background:#fff;
z-index:9999px;
top:0;
left:0;
}



.logo{
width:125px;
height:50px;
float:left;
display:inline;
}
.title-font{
width:747px;
font-size:20px;
font-weight:bold;
text-align:center;
line-height:50px;
float:left;
display:inline;
}

.childtitle-font{
width:747px;
font-size:20px;
font-weight:bold;
text-align:center;
line-height:50px;
float:left;
display:inline;
}

.zhongjian{
	width:747px;
	height:30px;
	padding-bottom:0;
	padding-top:2px;
}

.secret{
width:150px;
float:left;
display:inline;
text-align:left;
margin:2px,0,0,0;	
}

.secret1{
width:160px;
float:right;
display:inline;
text-align:center;
margin:30px,0,0,0;	
}

.gongyi{
width:747px;
}

.gongyishuxing{
width:370px;
float:left;
}

.gongyishuoming{
width:370px;
float:right;
}	

.shuxing{
width:80px;		
}

.neirong{
width:80px;	
}

.route{
width:747px;
height:422px;
}

.route-title{
width:749px;
height:20px;
padding-top:10px;
text-align:center;
}
.route-tup{
width:747px;
height:400px;
overflow:auto;

}

.route-tup img{
width:747px;
margin-bottom:0;
}

.circle{
border:1px solid #999;
padding:5px;
margin-top:5px;
width:737px;
}

.order{
height:80px;
}

.order-title{
width:747px;
height:20px;
line-height:24px;
text-align:center;
margin:0,0,5px 0;
background:#e4f1ff;
}

.order-title1{
width:367px;
height:20px;
line-height:24px;
text-align:center;
margin:0,0,5px 0;
background:#e4f1ff;
}

.order-title2{
width:367px;
height:20px;
line-height:24px;
text-align:center;
margin:0,0,5px 2px;
background:#e4f1ff;
}
.order-title-bold{
font-size:14px;
font-weight:bold;
}

.order-content{
height:20px;
line-height:24px;
margin-left:10px;
}

.cailiao-title-bg{
background:#dcdcdc;
}
.tup-auto{
width:217px;
height:auto;
}
.tup-auto img{
width:217px;
height:auto;
}
.canzhuang{
width:737px;
height:405px;
}
.showtup{
width:582px;
height:405px;
float:left;
overflow:auto;
}

.showtup_part{
width:737px;
height:405px;
float:left;
overflow:auto;
}
.showtup-null{
width:570px;
height:400px;
}
.showtup-tbody{
float:left;
padding:3px;
width:135px;
height:117px;
}
/* .showtup-title{
width:134px;
height:24px;
line-height:24px;
text-align:center;
border:1px solid #b6d2f2;
background:#e4f1ff;
}
.showtup-content{
width:135px;
height:93px;
} */
.showtup-content img{
width:135px;
height:93px;
}

.showtup-title{
width:134px;
height:24px;
line-height:24px;
text-align:center;
border:1px solid #b6d2f2;
background:#e4f1ff;
margin:0 auto;
}
.showtup-content{
width:135px;
height:93px;
margin:0 auto;
}


.canzhuang-data{
width:150px;
height:400px;
padding-left:5px;
float:right;
}
.canzhuang-header{
height:30px;
background:#e5f5f5;
line-height:30px;
font-size:14px;
padding-left:10px;
}
.canzhuang-content{
height:375px;
overflow-y:auto;
overflow-x:hidden;
}
.canzhuang-data table td{
line-height:30px;
padding-left:10px;
}
.gongbu{
height:auto;
}
.gongbu table{

}
.gongbu th{
text-align:left;
background:#eee;
line-height:30px;
padding-left:5px;
}
.gongbu td{
line-height:30px;
padding-left:5px;
}
.congxu_desc{
	margin-left: 20px;
}
