<?xml version="1.0" encoding="GBK"?>
<configs>
	<config name="gylx">
		<gylx key="G">标记、剥头、插、车、车削中心、称重、打磨、点封、高速穿孔、机加工、加工中心、立车、龙门铣、龙刨、慢走丝、磨、抛光、木工、刨、铺层、钳、数车、数控立车、数控龙门、数控磨、数镗、数铣、镗、卧车、卧式加工中</gylx>
		<gylx key="L">下料、水切割、落料、等离子割、配料、配套、准备、筛选</gylx>
		<gylx key="J">安装、包装、保护、拆除保护、拆卸、电装、调胶、分解、缝制、敷设、固化、灌封、焊接、胶接、解焊、局部保护、铆接、试装、搪锡、压接、预热、预装、扎线、粘固、整理、制作、装焊、装配、装填、总装</gylx>
		<gylx key="Y">钣金、成型、冲压、冷作、电火花成型、复合材料、弯管</gylx>
		<gylx key="S">调试、试验、复测、跑合</gylx>
		<gylx key="R">半时效、淬火、淬硬、弹簧、等温淬火、等温退火、低温退火、调质、分级淬火、分级时效、负温处理、感应淬火、高温退火、固溶、回火、火工、卷簧、立定处理、欠时效、去应力、热处理、人工时效、深冷处理、时效、试固溶、试时效、退火、完全退火、稳定化、稳定化退火、再结晶退火、正火、自然时效</gylx>
		<gylx key="P">阿罗丁氧化、表面处理、彩色钝化、草酸阳极氧化、出光、除氢、除锈、除油、吹干、瓷质氧化、导电氧化、电镀、电化学除油、电解钝化、镀暗镍、镀纯金、镀金、镀亮镍、镀镍、镀铜、镀锡、镀锌、镀银、镀硬铬、镀硬金、镀中性镍、镀装饰铬、钝化、二级逆流清洗、封闭、干燥、铬酸阳极氧化、刮腻子、光亮腐蚀、光亮酸洗、光亮酸性镀铜、光亮退火、黑色钝化、烘干、后处理、化学除油、化学镀、化学镀金、化学镀镍、化学镀铜、混合酸洗、活化、碱腐蚀、焦磷酸盐镀铜、浸氨水、浸铬酸、浸硝酸、浸锌、浸油、蓝白钝化、冷水洗、磷化、硫酸阳极氧化、镍盐封闭、柠檬酸盐镀金、喷砂、喷涂、气密性镀铬、前处理、强腐蚀、清洗、去除保护、染色 (着色)、热水洗、弱腐蚀、闪镀镍、上(夹具 )工装、渗氮、渗碳、丝网印刷、酸蚀、酸洗、酸性镀金、碳氮共渗、涂覆、涂胶、退镀、退铬、退金、退膜、退镍、退铜、退锌、退银、脱膜、脱脂、微弧氧化、稀释、下(夹具 )工装、阳极氧化、氧化、硬质阳极氧化、硬质氧化、油封、油漆、有机溶剂除油、预镀、预镀镍、预烘、预浸解胶、中和、着色</gylx>
		<gylx key="Z">电铸镍、电铸铜</gylx>
		<gylx key="D">锻造</gylx>
		<gylx key="/">入库、回收、记录、检查、检验、交付、流转、投产、总检、探伤</gylx>
		<gylx key="外协">外协</gylx>
	</config>
	<config>
		<speWord>×</speWord>
		<speWord>▲</speWord>
	</config>
	<dept>后勤部、技术中心、检、武器一部、武器二部、物资部、生保部、试验中心、质保部、运载项目部、飞船项目部、科瑞所</dept>
</configs>